Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environment open source tools for Data Science
- Evaluating arithmetic expressions in Python

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environment open source tools for Data Science
- Evaluating arithmetic expressions in Python

Exercise 4 - Create a markdown cell to list data science languages

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Exercise 5 - Create a markdown cell to list data science libraries

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. Tensorflow

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. Tensorflow

Exercise 6 - Create a markdown cell with a table of Data Science tools

In [ ]:
| Data Science Tools |
| ------ |
| Jupyter |
| Pycharm |
| RStudio |

| Data Science Tools |
| ------ |
| Jupyter |
| Pycharm |
| RStudio |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

In [27]:
#Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [26]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [25]:
#This will convert 200 minutes to hours by diving by 60
print('hours:',200/60)

hours: 3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

In [ ]:
## Author
Aluwala Raja Raja Narendra

## Author
Aluwala Raja Raja Narendra