# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Packages, APIs, Datasets and Models
- Jupyter Notebooks and Jupyter Lab
- RStudio & GitHub

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Tensorflow

| Data Science Tools |
| ------ |
| Jupyter |
| Pycharm |
| RStudio |

In [16]:
# Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
print('hours:',200/60)

hours: 3.3333333333333335

## Author
Aluwala Raja Raja Narendra